main {
    width: 56.2rem;
    height: 57rem;

    display: flex;
    flex-direction: column;
    /* a propriedade a seguir não funciona */
    justify-content: flex-end;
    background-color: #c4c4c4;

    grid-area: m;
}

main img {
    width: 597px;
    height:510px;
    /*margin: auto;*/
    align-self: center;
}

#selection {
    width: 90%;
    height: 11rem;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#selection img {
    width: 16rem;
    height: 11rem;
}

#center-img {
    width: 15rem;
    height: 11rem;
}

.selected {
    background-color: red;
    padding: 0px 0px 3px 0px;
}